.hero {
  text-align: center;
  height: 700px;
  padding-top: 50px;

  h2 {
    color: #fff;
    font-size: 56px;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif;
  }

  p {
    font-size: 28px;
    margin-top: 6px;
    font-family: "SF Pro Display", sans-serif;
  }
}

.hero__buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.hero__btn {
  font-size: 17px;
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: sans-serif;
}

.hero__btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.hero__btn.buy-btn {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.hero__btn.buy-btn:hover {
  background-color: #444;
  color: #fff;
  border: 1px solid #444;
}
